@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
border: 4px solid #eee;
border-top: 4px solid #0070d2;
border-radius: 50%;
width: 35px;
height: 35px;
animation: spin 1s linear infinite;
}


@keyframes spin {
100% { transform: rotate(360deg); }
}